body {
    display: flex;
    background-color: #e5ffff;
    background: -webkit-linear-gradient(hsla(200,90%,95%,1), hsla(200,90%,80%,1));
    background: linear-gradient(hsla(200,90%,95%,1), hsla(200,90%,80%,1));
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    color: white;
}

a,
a:visited {
    text-decoration: none;
    color: #f0f2f4;
}

header {
    margin: 35px auto;
    padding-left: 40px;
    padding-right: 40px;
    text-transform: uppercase;
    border: 1px solid hsla(200,50%,95%,0.9);
    border-radius: 5px;
    max-width: 400px;
}

header,
footer {
    text-align: center;
    background-color: hsla(200,100%,50%,0.7);
}

h1 {
  font-size: 2em;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.2em;
  margin-top: 0.5em;
  font-weight: 200;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.gallery li {
    padding: 2.5px 5px;
}

.gallery li img {
    border-radius: 5px;
    border: 3px solid hsla(200,50%,95%,0.9);
}

.gallery li img:hover {
  opacity: .5;
  transition: .2s ease-in-out;
}

footer {
    padding: 20px;
    border-top: 1px solid white;
    font-size: 1em;
}

footer a {
    padding-top: 10px;
    padding-bottom: 10px;
}

/************* MEDIA QUERIES **************/

@media (max-width: 648px) {
 
    header {
        margin: 20px 5% 0px 5%;
        font-size: 1em;
    }
    
    .gallery {
        flex-direction: column;
        align-items: center;
    }
    
    .gallery img {
        width: 320px;
        align-self: center;
    }
    
}